[Desktop Entry]
Encoding=UTF-8
Name=Xvile
Comment=VI Like Emacs for X Window System
Comment[pl]=Vi jak Emacs dla Systemu X Window
Exec=xvile &
Terminal=false
Type=Application
# vi: encoding=utf-8
